<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tk.mybatis.springboot.modules.customer.mapper.DevelopMapper">
    <!--回访上个月这一天的订单-->
    <select id="findAllByReview" parameterType="develop" resultType="develop">
        SELECT s.*
        from sales_chance s
        where 1=1

        <![CDATA[   and date_format(create_date,'%Y-%m-%d')=date_format(date_add(now(),INTERVAL -1 month ),'%Y-%m-%d')   ]]>


    </select>
</mapper>